<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>
<div id="app">
    {{message}}
</div>
<div id="app-2">
    <span v-bind:title='message'>
        鼠标悬停几秒查看此处动态绑定的提示信息！
    </span>
</div>
<div id="app-3">
    <p v-if="seen">现在你看到我了</p>
</div>
<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>
<div id="app-5">
    <p>{{message}}</p>
    <button @click="reverseMessage">逆转消息</button>
</div>
<div id="app-6">
    <p>{{ message }}</p>
    <p v-html="message"></p>
    <input v-model="message">
</div>
<div id="app-7">
    <ol>
        <todo-item v-for="item in groceryList"
                   v-bind:todo="item"
                   v-bind:key="item.id">
        </todo-item>
    </ol>
</div>
<div id="app-8">
    <p>Original message:"{{ message }}"</p>
    <p>Computed reversed message:"{{ reversedMessage }}"</p>
    <p>Reversed message:"{{ reversedMessage2() }}"</p>
</div>
<div id="app-9">
    {{ fullName }}
</div>
<div id="watch-example">
    <p>
        Ask a yes/no question:
        <input v-bind:value="question"
               v-on:input="question = $event.target.value">
    </p>
    <p>{{ answer }}</p>
</div>
<div id="app-10" class="static" v-bind:class="classObject">
    <h1 v-if="false">Vue id=s awesome</h1>
    <h1 v-else>Oh no 😢</h1>
</div>
<div id="example-1">
    <ul>
        <li v-for="(item,index) in items">
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
    </ul>
    <button v-on:click='counter += 1'>Add 1</button>
    <p>The button above has been clicked {{ counter }} times</p>
</div>
<div id="app-11">
    <ul>
        <li v-for="item in items">{{ item }}</li>
        <li v-for="item in userProfile">
            {{ item }}
        </li>
        <li v-for="n in evenNumbers">{{ n }}</li>
        <li v-for="n in evenSorts">{{ n }}</li>

        <template v-for="item in items">
            <li>{{ item }}</li>
            <li class="divider" role="presentation"></li>
        </template>
    </ul>
</div>
<div id="todo-list-example">
    <form v-on:submit.prevent="addNewTodo">
        <label for="new-todo">Add a todo</label>
        <input
                v-model="newTodoText"
                id="new-todo"
                placeholder="E.g. Feed the cat"
        >
        <button>Add</button>
    </form>
    <ul>
        <li
                is="todo-item"
                v-for="(todo, index) in todos"
                v-bind:key="todo.id"
                v-bind:title="todo.title"
                v-on:remove="todos.splice(index, 1)"
        ></li>
    </ul>
</div>
<div id="example-2">
    <button v-on:click="greet">Greet</button>
</div>
<div id="example-3">
    <button v-on:click="say('hi')">Say hi</button>
    <button v-on:click.stop="say('what')">Say what</button>
    <button v-on:click.once="warn('what',$event)">Say what</button>
</div>
<div id="app-12">
    <input v-model="message" placeholder="edit me">
    <p>Message is: {{ message }}</p>
    <span>Multiline message is:</span>
    <p style="white-space: pre-line;">{{ message }}</p>
    <br>
    <textarea v-model="message" placeholder="add multiple line"></textarea>
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>
    <br>

    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>

</div>
<div id="example-4">
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>
</div>
<div id="example-5">
    <select v-model="selected">
        <option disabled value="">请选择</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <span>Selected: {{ selected }}</span>
</div>
<div id="example-6">
    <select v-model="selected" multiple style="width: 50px;">
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <br>
    <span>Selected: {{ selected }}</span>
</div>
<div id="components-demo">
    <button-counter></button-counter>
    <!--<button-counter></button-counter>-->
    <!--<button-counter></button-counter>-->
    <!--<blog-post title="My journey with Vue"></blog-post>-->
    <!--<blog-post title="Blogging with Vue"></blog-post>-->
    <!--<blog-post title="Why Vue is so fun"></blog-post>-->
    <!--<blog-post v-for="post in posts"-->
    <!--v-bind:title="post.title"-->
    <!--v-bind:key="post.id"-->
    <!--&gt;</blog-post>-->
</div>
<div id="blog-posts-events-demo">
    <div :style="{fontSize : postFontSize + 'em'}">
        <blog-post
                v-for="post in posts"
                v-bind:key="post.id"
                v-bind:post="post"
                v-on:enlarge-text="onEnlargeText"
        ></blog-post>
    </div>
    <alert-box>
        Something bad happened.
    </alert-box>
</div>
<div id="example-7">
    <table>
        <tr is="blog-post-row"></tr>
    </table>
</div>
<div id="example-8">
    <base-checkbox v-model="lovingVue"></base-checkbox>
    <navigation-link url="/profile">asfsfsaf</navigation-link>
    <base-layout>
        <template v-slot:header>
            <h1>Here might be a page</h1>
        </template>
        <template v-slot:default>
            <p>A paragraph for the main content.</p>
            <p>And another one.</p>
        </template>
        <template v-slot:footer>
            <p>Here`s some contact info</p>
        </template>
    </base-layout>
    <video id="v" src="">

    </video>
</div>

<div class="tab-pane" id="tab_base">n
    <div class="row">n
        <div class="col-sm-6 ">n
            <section class="panel panel-default">n
                <div class="panel-body" data-id="51633745">n n
                    <div class="bordb clearfix padb10 marb10">n
                        <div class="auto">n
                            <div class="lineh26 color3">基本信息</div>
                            n n
                            <div class="list quick_edit text_field_show">n
                                <div class="name">n 编号：n</div>
                                n
                                <div class="value j-text_asset_6ced94  " data-column="text_asset_6ced94"
                                     data-value-format="">n --n
                                </div>
                                n
                            </div>
                            nn
                            <div class="list quick_edit text_field_show">n
                                <div class="name">n 类 型：n</div>
                                n
                                <div class="value j-text_asset_e311e7  " data-column="text_asset_e311e7"
                                     data-value-format="">n --n
                                </div>
                                n
                            </div>
                            nn
                            <div class="list quick_edit text_field_show">n
                                <div class="name">n 客户名称：n</div>
                                n
                                <div class="value j-name  " data-column="name" data-value-format="">n 北京博科星通科技有限公司n
                                </div>
                                n
                            </div>
                            nn
                            <div class="list quick_edit text_field_show">n
                                <div class="name">n 姓名：n</div>
                                n
                                <div class="value j-company_name  " data-column="company_name" data-value-format="">n
                                    朱海强n
                                </div>
                                n
                            </div>
                            nn
                            <div class="list quick_edit text_field_show">n
                                <div class="name">n 职位：n</div>
                                n
                                <div class="value j-text_asset_82edad  " data-column="text_asset_82edad"
                                     data-value-format="">n --n
                                </div>
                                n
                            </div>
                            nn n
                        </div>
                        n
                    </div>
                    nnnnn
                    <div class="bordb clearfix padb10 marb10">n
                        <div class="auto">n
                            <div class="lineh26 color3">联系信息</div>
                            n n
                            <div class="list quick_edit text_field_show">n
                                <div class="name">n 国家：n</div>
                                n
                                <div class="value j-text_asset_b8d298  " data-column="text_asset_b8d298"
                                     data-value-format="">n --n
                                </div>
                                n
                            </div>
                            nn
                            <div class="list quick_edit text_area_show">n
                                <div class="name">n Email：n</div>
                                n
                                <div class="value j-note  " data-column="note" data-value-format="text">n <p></p>n</div>
                                n
                            </div>
                            nn
                            <div class="list quick_edit text_area_show">n
                                <div class="name">n 座机：n</div>
                                n
                                <div class="value j-text_area_asset_6f7e19  " data-column="text_area_asset_6f7e19"
                                     data-value-format="">n <p></p>n
                                </div>
                                n
                            </div>
                            nn
                            <div class="list quick_edit text_field_show">n
                                <div class="name">n QQ：n</div>
                                n
                                <div class="value j-address.wangwang  " data-column="address.wangwang"
                                     data-value-format="">n --n
                                </div>
                                n
                            </div>
                            nn
                            <div class="list quick_edit text_field_show">n
                                <div class="name">n 微信号：n</div>
                                n
                                <div class="value j-address.wechat  " data-column="address.wechat" data-value-format="">
                                    n --n
                                </div>
                                n
                            </div>
                            nn
                            <div class="list quick_edit text_field_show">n
                                <div class="name">n Skype：n</div>
                                n
                                <div class="value j-text_asset_38bf4c  " data-column="text_asset_38bf4c"
                                     data-value-format="">n --n
                                </div>
                                n
                            </div>
                            nn
                            <div class="list quick_edit url_field_show">n
                                <div class="name">n 网址：n</div>
                                n
                                <div class="value  " data-column="address.url" data-value-format="url">n --n</div>
                                n
                            </div>
                            nn
                            <div class="list quick_edit text_area_show">n
                                <div class="name">n 其他联系方式：n</div>
                                n
                                <div class="value j-text_area_asset_03e3ae  " data-column="text_area_asset_03e3ae"
                                     data-value-format="">n <p></p>n
                                </div>
                                n
                            </div>
                            nn
                            <div class="list quick_edit text_area_show">n
                                <div class="name">n 备注1：n</div>
                                n
                                <div class="value j-text_area_asset_516a56  " data-column="text_area_asset_516a56"
                                     data-value-format="">n <p></p>n
                                </div>
                                n
                            </div>
                            nn
                            <div class="list quick_edit geo_address_field_show">n
                                <div class="name">n 地址：n</div>
                                n
                                <div class="value  " data-column="address.detail_address" data-value-format="geo">nn
                                    <font></font>n <a target="_blank" class="text-primary" href="javascript:;">查看地图</a>n
                                </div>
                                n
                            </div>
                            nn
                            <div class="list quick_edit text_field_show">n
                                <div class="name">n 传真：n</div>
                                n
                                <div class="value j-address.fax  " data-column="address.fax" data-value-format="">n
                                    --n
                                </div>
                                n
                            </div>
                            nn
                        </div>
                        n
                    </div>
                    nnnnn
                    <div class="bordb clearfix padb10 marb10">n
                        <div class="auto">n
                            <div class="lineh26 color3">其他信息</div>
                            n n
                            <div class="list quick_edit field_map_field_show">n
                                <div class="name">n 跟进状态：n</div>
                                n
                                <div class="value j-status  " data-column="status_mapped" data-value-format="">n 初访n
                                </div>
                                n
                            </div>
                            nn
                            <div class="list  field_map_field_show">n
                                <div class="name">n 资料来源：n</div>
                                n
                                <div class="value j-channel  " data-column="channel_mapped" data-value-format="">n --n
                                </div>
                                n
                            </div>
                            nn
                        </div>
                        n
                    </div>
                    nnnnn
                    <div class=" clearfix padb10 marb10">n
                        <div class="auto">n
                            <div class="lineh26 color3">系统信息</div>
                            n n
                            <div class="list  text_field_show">n
                                <div class="name">n 业务类型：n</div>
                                n
                                <div class="value j-custom_field_template  " data-column="custom_field_template.name"
                                     data-value-format="">n --n
                                </div>
                                n
                            </div>
                            nn
                            <div class="list select2_field_show">n
                                <div class="name">n 负责人：n</div>
                                n
                                <div class="value link_entity   ">n 良泉n</div>
                                n
                            </div>
                            nn
                            <div class="list select2_field_show">n
                                <div class="name">n 创建人：n</div>
                                n
                                <div class="value link_entity   ">n 良泉n</div>
                                n
                            </div>
                            nn
                            <div class="list select2_field_show">n
                                <div class="name">n 前负责人：n</div>
                                n
                                <div class="value link_entity   ">n --n</div>
                                n
                            </div>
                            nn
                            <div class="list select2_field_show">n
                                <div class="name">n 所属部门：n</div>
                                n
                                <div class="value link_entity   ">n 恋企网络n</div>
                                n
                            </div>
                            nn
                            <div class="list select2_field_show">n
                                <div class="name">n 前所属部门：n</div>
                                n
                                <div class="value link_entity   ">n --n</div>
                                n
                            </div>
                            nn
                            <div class="list select2_field_show">n
                                <div class="name">n 所属公海：n</div>
                                n
                                <div class="value link_entity   ">n --n</div>
                                n
                            </div>
                            nn
                            <div class="list  datetime_field_show">n
                                <div class="name">n 创建时间：n</div>
                                n
                                <div class="value j-created_at  " data-column="created_at" data-value-format="time">n
                                    <time datetime="2019-07-30T19:51:29+08:00">2019-07-30 19:51</time>
                                    n
                                </div>
                                n
                            </div>
                            nn
                            <div class="list  datetime_field_show">n
                                <div class="name">n 更新于：n</div>
                                n
                                <div class="value j-updated_at  " data-column="updated_at" data-value-format="time">n
                                    <time datetime="2019-08-01T17:18:42+08:00">2019-08-01 17:18</time>
                                    n
                                </div>
                                n
                            </div>
                            nn
                        </div>
                        n
                    </div>
                    nnnnn
                </div>
                n
            </section>
            n
        </div>
        nn
        <div class="col-sm-6 ">n</div>
        n
    </div>
    n
    <div class="clearfix"></div>
    n
</div>

<script src="../../static/js/vue/vue-test.js"></script>
</body>
</html>